<!-- <section>
  <h1 routerLink="/">Bienvenu sur notre Dashbaord !</h1>
  <img src="../../assets/images/Medicine-rafiki.png" alt="">
</section> -->

<section>
  <div class="welcomes">
    <div class="welcome">
      <h1>Hello, <span>{{nameDoctor}}</span></h1>
      <p>Have a nice day and remember to take care of your patients</p>
    </div>
    <img src="../../../../../assets/images/Doctor-pana (1).png" alt="">
  </div>

  <div class="blocks">
    <div class="block">
      <div class="photo" style="width: 80px; height: 80px; border-radius: 50%; background-color: #e5e5e5; display: flex; justify-content: center; align-items: center;">
        <svg style="enable-background:new 0 0 24 24; padding: 10px"  baseProfile="tiny" height="50" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path  class="dash-ft"  fill="#0098fb" d="M17,9c0-1.381-0.56-2.631-1.464-3.535C14.631,4.56,13.381,4,12,4S9.369,4.56,8.464,5.465C7.56,6.369,7,7.619,7,9  s0.56,2.631,1.464,3.535C9.369,13.44,10.619,14,12,14s2.631-0.56,3.536-1.465C16.44,11.631,17,10.381,17,9z"/><path class="dash-ft" fill="#0098fb"  d="M6,19c0,1,2.25,2,6,2c3.518,0,6-1,6-2c0-2-2.354-4-6-4C8.25,15,6,17,6,19z"/></svg>

      </div>
      <div class="detail-block">
        <h4>{{AllNumPatient}}</h4>
        <p>Total Patients</p>
      </div>
    </div>
    <div class="block">
      <div class="photo" style="width: 80px; height: 80px; border-radius: 50%; background-color: #e5e5e5; display: flex; justify-content: center; align-items: center;">
        <svg style="enable-background:new 0 0 24 24; padding: 10px" version="1.1" width="30" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="info"/><g id="icons"><path  class="dash-ft" fill="#0098fb"d="M22.2,14.4L21,13.7c-1.3-0.8-1.3-2.7,0-3.5l1.2-0.7c1-0.6,1.3-1.8,0.7-2.7l-1-1.7c-0.6-1-1.8-1.3-2.7-0.7   L18,5.1c-1.3,0.8-3-0.2-3-1.7V2c0-1.1-0.9-2-2-2h-2C9.9,0,9,0.9,9,2v1.3c0,1.5-1.7,2.5-3,1.7L4.8,4.4c-1-0.6-2.2-0.2-2.7,0.7   l-1,1.7C0.6,7.8,0.9,9,1.8,9.6L3,10.3C4.3,11,4.3,13,3,13.7l-1.2,0.7c-1,0.6-1.3,1.8-0.7,2.7l1,1.7c0.6,1,1.8,1.3,2.7,0.7L6,18.9   c1.3-0.8,3,0.2,3,1.7V22c0,1.1,0.9,2,2,2h2c1.1,0,2-0.9,2-2v-1.3c0-1.5,1.7-2.5,3-1.7l1.2,0.7c1,0.6,2.2,0.2,2.7-0.7l1-1.7   C23.4,16.2,23.1,15,22.2,14.4z M12,16c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4C16,14.2,14.2,16,12,16z" id="settings"/></g></svg>
      </div>
      <div class="detail-block">
        <h4>{{AllNumConsultationPending}}</h4>
        <p>Consultation Pending</p>
      </div>
    </div>
    <div class="block">
      <div class="photo" style="width: 80px; height: 80px; border-radius: 50%; background-color: #e5e5e5; display: flex; justify-content: center; align-items: center;">
        <svg style="enable-background:new 0 0 24 24; padding: 10px" version="1.1" width="30" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="info"/><g id="icons"><path  class="dash-ft" fill="#0098fb"d="M22.2,14.4L21,13.7c-1.3-0.8-1.3-2.7,0-3.5l1.2-0.7c1-0.6,1.3-1.8,0.7-2.7l-1-1.7c-0.6-1-1.8-1.3-2.7-0.7   L18,5.1c-1.3,0.8-3-0.2-3-1.7V2c0-1.1-0.9-2-2-2h-2C9.9,0,9,0.9,9,2v1.3c0,1.5-1.7,2.5-3,1.7L4.8,4.4c-1-0.6-2.2-0.2-2.7,0.7   l-1,1.7C0.6,7.8,0.9,9,1.8,9.6L3,10.3C4.3,11,4.3,13,3,13.7l-1.2,0.7c-1,0.6-1.3,1.8-0.7,2.7l1,1.7c0.6,1,1.8,1.3,2.7,0.7L6,18.9   c1.3-0.8,3,0.2,3,1.7V22c0,1.1,0.9,2,2,2h2c1.1,0,2-0.9,2-2v-1.3c0-1.5,1.7-2.5,3-1.7l1.2,0.7c1,0.6,2.2,0.2,2.7-0.7l1-1.7   C23.4,16.2,23.1,15,22.2,14.4z M12,16c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4C16,14.2,14.2,16,12,16z" id="settings"/></g></svg>
      </div>
      <div class="detail-block">
        <h4>{{AllNumConsultationConfirm}}</h4>
        <p>Consultation Confimed</p>
      </div>
    </div>
  </div>

  <div class="blocks">
    <div class="block">
      <apx-chart
    [series]="chartOption.series"
    [chart]="chartOption.chart"
    [plotOptions]="chartOption.plotOptions"
    [labels]="chartOption.labels"
    [fill]="chartOption.fill"
    [stroke]="chartOption.stroke"
  ></apx-chart>
    </div>
    <div class="graphe">
      <apx-chart style="width: 100%;"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
  ></apx-chart>
    </div>
  </div>

</section>
