<section>
  <div class="col">
      <h1 routerLink="/">Welcome to <br> GetHos</h1>
      <p>Quality care for better health</p>
      <img src="../../assets/images/Oncologypatient-bro.png" alt="">
  </div>

  <div class="col">
    <h1>Sign Up Patient</h1>
    <form action="" #registerForm="ngForm" (ngSubmit)="createPatient(registerForm.value)">
      <div class="blocks-input">
        <div class="block-input">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Enter your name"
          [(ngModel)]="patient.name"
            #name = "ngModel"
            [ngClass]="{'is-invalid': name.touched && !name.valid}"
            required>
        </div>

        <div class="block-input">
          <label for="surname">Surname</label>
          <input type="text" name="surname" placeholder="Enter your surname"
          [(ngModel)]="patient.surname"
            #surname = "ngModel"
            [ngClass]="{'is-invalid': surname.touched && !surname.valid}"
            required>
        </div>

      </div>

      <div class="block-input">
        <label for="service">Sex</label>
        <div class="checks">
          Masculin<input type="radio" [(ngModel)]="patient.sex" value="M" name="sex" >
          Feminin<input type="radio" [(ngModel)]="patient.sex" value="F" name="sex" >
        </div>
      </div>

      <div class="blocks-input">
        <div class="block-input">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Enter your email"
          [(ngModel)]="patient.email"
            #email = "ngModel"
            [ngClass]="{'is-invalid': email.touched && !email.valid}"
            required>
        </div>

        <div class="block-input">
          <label for="password">password</label>
          <input type="password" name="password" placeholder="Enter Password"
          [(ngModel)]="patient.password"
            #password = "ngModel"
            [ngClass]="{'is-invalid': password.touched && !password.valid}"
            required>
        </div>

      </div>



      <div class="row">
        <input type="checkbox" name="" id="">
        <p>I have an account ? <span [routerLink]="['../login-patient']">Login</span></p>
      </div>

      <button type="submit" [disabled]="!registerForm.form.valid">Sign Up</button>

      <div class="row-with">
        <span></span><p>or sign up with</p><span></span>
      </div>

      <div class="block-account">
        <button>Google</button>
        <button>Icloud</button>
        <button>Facebook</button>
      </div>

    </form>
  </div>
</section>
