<!-- <section>
  <h1 routerLink="/">Bienvenu sur notre Dashbaord !</h1>
  <img src="../../assets/images/Medicine-rafiki.png" alt="">
</section> -->

<section>
  <div class="welcomes">
    <div class="welcome">
      <h1>Hello, <span>{{nameDoctor}}</span></h1>
      <p>Have a nice day and remember to take care of your patients</p>
    </div>
    <img src="../../../../../assets/images/injury-cuate.png" alt="">
  </div>

  <div class="blocks">
    <div class="block">
      <div class="photo" style="width: 80px; height: 80px; border-radius: 50%; background-color: #e5e5e5;"></div>
      <div class="detail-block">
        <h4>2</h4>
        <p>Consultation</p>
      </div>
    </div>
    <div class="block">
      <div class="photo" style="width: 80px; height: 80px; border-radius: 50%; background-color: #e5e5e5;"></div>
      <div class="detail-block">
        <h4>5</h4>
        <p>Traitements</p>
      </div>
    </div>
    <div class="block">
      <div class="photo" style="width: 80px; height: 80px; border-radius: 50%; background-color: #e5e5e5;"></div>
      <div class="detail-block">
        <h4>1</h4>
        <p>Visites</p>
      </div>
    </div>
  </div>

  <div class="blocks">
    <div class="block">

    </div>
    <div class="graphe">

    </div>
  </div>

</section>
