<section>
  <header>
    <h1>Get<span style="color: #0098fb;">Hos</span></h1>
    <ul>
      <li>Patient</li>
      <li>Professionnel</li>
      <li>Equipe</li>
      <li>Connexion Patient</li>
      <li>Connesxion Professionnel</li>
    </ul>
  </header>

  <div class="container">
    <div class="col">
      <h1>GetHos la solution referente pour le suivi des patients en milieu hospitalier</h1>
      <div class="buttons">
        <button class="btn1" [routerLink]="['login-patient']">Connexion Patient</button>
        <button class="btn2" [routerLink]="['login']">Connexion Professionnelle</button>
      </div>
    </div>
    <img src="../../assets/images/Contact us-pana.png" alt="">
  </div>
</section>
